@model fitnessCenter.web.Models.TrainerAvailability

@{
    ViewData["Title"] = "Create Availability";
}

<h2>Çalışma Günleri ve Saatleri Ekle</h2>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- EĞİTMEN -->
    <div class="form-group mb-3">
        <label asp-for="TrainerId"></label>
        <select asp-for="TrainerId" class="form-control" asp-items="ViewBag.TrainerId">
            <option value="">-- Eğitmen Seçin --</option>
        </select>
    </div>

    <!-- CHECKBOX GÜNLER -->
    <div class="form-group mb-3">
        <label>Gün Seçin</label>
        <div class="border rounded p-2">

            @foreach (DayOfWeek day in ViewBag.Days)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="SelectedDays"
                           value="@day" />

                    <label class="form-check-label">@day</label>
                </div>
            }

        </div>
        <span asp-validation-for="SelectedDays" class="text-danger"></span>
    </div>

    <!-- SAATLER -->
    <div class="form-group mb-3">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" type="time" class="form-control" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" type="time" class="form-control" />
    </div>

    <button class="btn btn-primary">Kaydet</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
